{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="">

        <h2>Invoice</h2>


        <div class="row">
            <div class="col-sm-8 col-lg-8">
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:8%">Price</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in cart %}
                        <tr>
                            <td><a href="{{ path('book_show',{'id': item.id}) }}">{{ item.name }}</a></td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.price }}</td>
                            <td data-th="Subtotal" class="text-center">
                                {% set var_1 = 0 + item.quantity|number_format(2,'.',',') %}
                                {% set var_2 = 0 + item.price|number_format(2,'.',',') %}
                                ${{ (var_1 * var_2)|number_format(2,'.',',') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">Discount {{ discount }} %</div>
            <div class="col-lg-6"></div>
            <div class="col-lg-6"><strong>Total
                    ${{ total }}</strong></div>
        </div>
        <div class="row">
            <td><a href="{{ path('home') }}" class="btn btn-warning"><i class="fa fa-angle-left"></i>Back to
                    Home</a>
        </div>

    </div>

{% endblock %}
