{% extends 'base.html.twig' %}

{% block title %}Welcome to Books store!{% endblock %}

{% block body %}


<div>

    {% include 'categories/_categories_list.html.twig' %}

    {% include 'books/_books_table.html.twig' with {'title': 'All Books'} %}

</div>
{% endblock %}
