<h3>{{  title }}</h3>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th></th>
    </tr>

    </thead>

    <tbody>

    {% for book in books %}
        <tr>
            <td>
                <a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a>
            </td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
            <td>

                <a href="{{ path('cart_add',{'id': book.id }) }}"
                   class="btn btn-success">Add to cart</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>
                no books found
            </td>
        </tr>
    {% endfor %}
    </tbody>



</table>
