{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block body %}
<div>

    <h2>All Books</h2>


    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th></th>
        </tr>

        </thead>

        <tbody>

        {% for book in books %}
            <tr>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a>
                </td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>


                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    no books found
                </td>
            </tr>
        {% endfor %}
        </tbody>



    </table>

</div>
{% endblock %}
