{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}

    <div class="">

        <h2>{{ book.title }}</h2>

        <p>{{  book.author }}</p>

        <p>{{  book.price }}</p>
    </div>

{% endblock %}
