

<h3>All Categories</h3>

{% for category in categories %}
    <li>

        <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.title }}</a>


    </li>
{% else %}
    <li>
        no categories found
    </li>
{% endfor %}
