{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}

<div class="">
    <h2>Categories</h2>

    {% for category in categories %}
        <li>

            <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.title }}</a>

        </li>
    {% else %}
        <li>
            no categories found
        </li>
    {% endfor %}

</div>
{% endblock %}
