{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

<div class="">

    <h2>{{ category.title }}</h2>
    <p>{{ category.description }}</p>



    {% include 'books/_books_table.html.twig' with {'title':  'Books on selected category'   } %}




</div>

{% endblock %}
