{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_book_index') }}">back to list</a>

    <a href="{{ path('admin_book_edit', {'id': book.id}) }}">edit</a>

    {{ include('admin/book/_delete_form.html.twig') }}
{% endblock %}
